.LandingHero {
  /* background-image: url("../../../../assets/images/homenetflix.jpg"); */
  height: 710px;
  width: 100%;
  position: relative;
  &_bg  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
}
